@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/overpass-v16-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/overpass-v16-latin-700.woff2") format("woff2");
}

.hidden {
  display: none;
}

.container {
  --white-50: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-800: hsl(213, 20%, 24%);
  --grey-900: hsl(213, 20%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --orange-500: hsl(25, 97%, 53%);

  background-color: var(--grey-950);
  color: var(--grey-500);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline: 24px;
  min-height: 100vh;
  min-width: 320px;

  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container h2 {
  color: var(--white-50);

  font-family: "Overpass";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.card {
  background-color: var(--grey-900);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border-radius: 16px;
  max-height: min-content;
  max-width: max-content;
  padding: 24px;
}

.card > img {
  background-color: var(--grey-800);

  border-radius: 9999px;
  height: 40px;
  padding: 12px;
  width: 40px;
}

.card > h2 {
  margin-block: 24px 0px;
}

.card > p {
  max-width: 315px;
}

.card > fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0 0 24px 0;
}

.card label {
  background-color: var(--grey-800);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  height: 40px;
  width: 40px;

  cursor: pointer;
}

.card label:hover {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

.card label:has(input:checked) {
  background-color: var(--white-50);
  color: var(--grey-950);
}

.card input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;

  border-width: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;
}

.card > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 9999px;
  padding: 12px 24px;

  background-color: var(--orange-500);
  color: var(--grey-950);
  cursor: pointer;

  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.card > button:hover {
  background-color: var(--white-50);
}

.card:last-child {
  align-items: center;
  text-align: center;
}

.card:last-child > img {
  background-color: unset;

  height: 128px;
  margin-inline: auto;
  width: auto;
}

.card:last-child > p:first-of-type {
  background-color: var(--grey-800);
  color: var(--orange-500);

  border-radius: 9999px;
  padding: 4px 12px;
}

.card:last-child > h2 {
  margin-top: 16px;
}
