@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/josefin-sans-v32-latin-300.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/alata-v11-latin-regular.woff2") format("woff2");
}

.container {
  --gray-100: hsl(0, 0%, 85%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  background-color: var(--black);
  color: var(--gray-100);

  min-height: 100vh;
  min-width: 320px;

  font-family: "Alata";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header,
.hero,
.main,
.footer {
  width: 100%;
}

.header {
  background-image: url("../../assets/images/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: grid;
  grid-template-areas: "logo nav" "title title";

  padding: 24px;
}

.hero__button,
.mobile-nav__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;

  position: absolute;
  right: 24px;
  top: 24px;
}

.hero__title {
  grid-area: title;

  border: solid 2px var(--white);
  margin: 260px auto;
  max-width: 16ch;
  padding: 24px;

  color: var(--white);
  font-family: "Josefin Sans";
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

body:has(.dialog:popover-open) {
  overflow-y: hidden;
}

.dialog {
  border: none;
  margin: 0;
  max-height: unset;
  max-width: unset;
  padding: 0;
}

.mobile-nav {
  background-color: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 144px;
  padding: 24px;

  height: 100vh;
  width: 100vw;
}

.mobile-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav__link {
  display: inline-block;
  padding-block: 12px;

  color: var(--white);
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.desktop-nav {
  display: none;
}

.main {
  background-color: var(--white);
  color: var(--gray-500);
}

.article {
  padding: 96px 24px;
  text-align: center;
}

.article__image {
  height: auto;
  max-width: 100%;
}

.article__title {
  color: var(--black);
  font-family: "Josefin Sans";
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.creations {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.creations__title {
  color: var(--black);
  font-size: 2.25rem;
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 48px;
}

.creations__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  list-style: none;

  row-gap: 32px;
  margin: 0;
  padding: 0;
}

.creations__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.creations__subtitle {
  color: var(--white);
  font-size: 2rem;
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1;
  text-shadow: 0 0 50px var(--black);
  text-transform: uppercase;

  max-width: 9ch;

  position: absolute;
  bottom: 16px;
  left: 16px;
}

.creations__image {
  height: auto;
  max-width: 100%;
  filter: contrast(70%) brightness(80%);
}

.creations__link:hover .creations__image {
  opacity: 0.5;
}

.creations__link:hover .creations__subtitle {
  color: var(--black);
}

.creations__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  font-size: 1.25rem;
  letter-spacing: 0.3rem;
  line-height: 1.4;
  text-transform: uppercase;

  border: solid 2px var(--black);
  margin: 48px auto;
  padding: 16px 56px;
}

.creations__button:hover {
  background-color: var(--black);
  color: var(--white);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 24px;
}

.footer__list,
.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list {
  flex-direction: column;
  gap: 16px;
  margin-block: 44px;
}

.footer__link {
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.footer__link:hover::after {
  background-color: var(--white);
  content: "";
  height: 2px;
  width: 24px;

  position: absolute;
  bottom: -12px;
  left: 50%;
  translate: -50%;
}

.footer__social-list {
  gap: 16px;
}

.footer__social-link {
  position: relative;
  text-decoration: none;
}

.footer__social-link:hover::after {
  background-color: var(--white);
  content: "";
  height: 2px;
  width: 24px;

  position: absolute;
  bottom: -12px;
  left: 50%;
  translate: -50%;
}

@media (min-width: 640px) {
  .hero,
  .article,
  .creations,
  .footer {
    margin-inline: auto;
    max-width: 640px;
  }

  .hero__title {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .hero,
  .article,
  .creations,
  .footer {
    max-width: 768px;
  }

  .hero__button {
    display: none;
  }

  .hero__title {
    margin-inline: 0;
  }

  .hero__title > br:last-child {
    display: hidden;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-self: end;
  }

  .desktop-nav__list {
    display: flex;
    list-style: none;

    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .desktop-nav__link {
    color: var(--white);
    position: relative;
    text-decoration: none;
  }

  .desktop-nav__link:hover::after {
    background-color: var(--white);
    content: "";
    height: 2px;
    width: 24px;

    position: absolute;
    bottom: -12px;
    left: 50%;
    translate: -50%;
  }

  .creations__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .hero,
  .article,
  .creations,
  .footer {
    max-width: 1024px;
  }

  .header {
    background-image: url("../../assets/images/image-hero-desktop.jpg");
    background-position: right;
  }

  .article {
    position: relative;
    text-align: start;

    margin-bottom: 96px;
  }

  .article__text-wrapper {
    position: absolute;
    left: 40%;
    top: 40%;

    background-color: var(--white);
    max-width: 50%;
    padding: 88px;
  }

  .creations {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    padding-bottom: 96px;
  }

  .creations__title {
    font-size: 3rem;
    margin-block: 0;
  }

  .creations__list {
    order: 3;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }

  .creations__subtitle {
    font-size: 2.25rem;

    bottom: 32px;
    left: 32px;
  }

  .creations__button {
    margin: 0;
    padding: 8px 40px;
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 8px;
    padding-block: 48px;
  }

  .footer__logo {
    flex-basis: 49%;
    object-fit: contain;
    object-position: left;
  }

  .footer__social {
    flex-basis: 50%;
    order: 2;

    display: flex;
    justify-content: end;
  }

  .footer__nav {
    flex-basis: 50%;
    flex-direction: row;
    order: 3;
  }

  .footer__list {
    flex-direction: row;
    margin-block: 0;
  }

  .footer__copyright {
    flex-basis: 49%;
    order: 4;
    text-align: end;
  }
}

@media (min-width: 1280px) {
  .hero,
  .article,
  .creations,
  .footer {
    max-width: 1280px;
  }

  .article__title {
    font-size: 3rem;
    margin-block: 0;
  }
}
