@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/league-spartan-v11-latin-500.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/league-spartan-v11-latin-600.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/league-spartan-v11-latin-700.woff2")
    format("woff2");
}

.container {
  --gray-700: hsl(0, 0%, 63%);
  --gray-900: hsl(0, 0%, 27%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  background-color: var(--white);
  color: var(--gray-700);

  min-height: 100vh;
  min-width: 320px;

  font-family: "League Spartan";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.header {
  display: flex;
  align-items: baseline;

  width: 100%;

  position: absolute;
  left: 12px;
  top: 32px;
  z-index: 10;
}

.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: white;
  cursor: pointer;

  border: none;
  padding: 12px;

  position: absolute;
  left: 0;
  top: -12px;
}

body:has(.dialog:popover-open) {
  overflow-y: hidden;
}

.dialog::backdrop {
  background-color: color-mix(
    in hsl shorter hue,
    transparent,
    var(--black) 60%
  );
}

.dialog:popover-open {
  border: none;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding-inline: 12px;
  width: 100vw;
}

.mobile-nav__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: white;
  cursor: pointer;

  border: none;
  padding: 12px;
}

.mobile-nav__list {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.mobile-nav__link {
  color: var(--black);
  text-decoration: none;
  text-transform: lowercase;

  padding: 16px;
}

.logo {
  margin-inline: auto;
}

.desktop-nav {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero__image {
  position: relative;
}

.slide__prev-button,
.slide__next-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black);
  border: none;
  padding: 20px 28px;

  cursor: pointer;
  transition: background-color 0.3s;

  position: absolute;
  bottom: 0;
  right: 0;
}

.slide__prev-button {
  right: 70px;
}

.slide__prev-button:hover,
.slide__next-button:hover {
  background-color: var(--gray-900);
}

.slide__image {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.hero__content {
  margin-block: 60px 48px;
  padding-inline: 24px;
}

.hero__title {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  margin-block: 0;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  width: fit-content;

  color: var(--black);
  letter-spacing: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero__link:hover {
  color: var(--gray-700);
}

.hero__link:hover > img {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .header {
    align-items: center;
  }

  .logo {
    margin-inline: 24px;
  }

  .header__button {
    display: none;
  }

  .desktop-nav {
    display: flex;
    margin-left: 24px;
  }

  .desktop-nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;

    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .desktop-nav__link {
    color: var(--white);
    text-decoration: none;
    text-transform: lowercase;

    position: relative;
  }

  .desktop-nav__link:hover::after {
    background-color: var(--white);
    content: "";
    display: inline-block;
    height: 2px;
    width: 50%;

    position: absolute;
    bottom: -12px;
    left: 50%;

    translate: -50%;
  }

  .hero {
    grid-template-areas:
      "image ."
      "image content"
      "image .";
    grid-template-columns: 4fr 3fr;
    grid-template-rows: minmax(64px, 1fr) min-content minmax(64px, 1fr);
  }

  .hero__image {
    grid-area: image;
  }

  .hero__content {
    grid-area: content;
    justify-self: center;
    margin-bottom: 64px;
    max-width: 470px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__paragraph {
    margin-block: 24px;
  }

  .slide__next-button {
    right: -140px;
  }

  .slide__prev-button {
    right: -70px;
  }
}

@media (min-width: 1536px) {
  .header {
    left: 50%;
    translate: -50%;

    max-width: 1536px;
  }

  .main {
    margin-inline: auto;
    max-width: 1536px;
  }
}
